<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>MakanMana</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="header">
        <h4 class="logo">MakanMana?</h4>
        <a href="#" class="navbar-toggle" id="navbar-toggle-menu">☰</a>
        <nav class="navbar" id="topnav">
            <ul class="main-nav" id="menu-bar">
                <li><a href="#" class="link">Home</a></li>
                <li><a href="#Favorite" class="link">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/achmad-alghifari-72b8a7aa/" class="link">About Us</a></li>
            </ul>
            
        </nav>
        
    </header>
    
    <div class="hero">
        <div class="hero-box">
            <h1 class="hero-title">Lets Eat!</h1>
        </div>
    </div>
    <main>
        <section class="content">
            <h2 style="text-align: center;">Explore Restaurant</h2>
            <div id="posts"></div>
        </section>
    </main>
    <footer>
       copyright &#169; 2021 | MakanMana?
    </footer>
    
</body>
</html>
