@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Kanit&display=swap');
*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Kanit', sans-serif;   
}

header{
    background-color: red;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 10px
}

.logo{
    font-family: 'Coming Soon', cursive;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    
}

/*
 * Top level navigation
 */
#topnav {
    background-color:red;
    border: 1px solid rgba(240, 37, 37, 0.2);
    padding-bottom: 5px;
    font-size: 18px;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
#topnav.open {
    transform: scale(1,1);
    position: relative;
}
#topnav #menu-bar{
    display: block;
    list-style-type: none;
    padding-left: 20px;
}
#menu-bar li{
    text-align: left;
    margin: 15px auto;
}
.link {
    text-decoration: none;
    color: white;
    
}

.link:hover{
    color: #cccccc;
}
.navbar-toggle{
    display: block;
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    margin-left: 30px
}

/*
 * Hero Element
 */
.hero {
    display: flex;
    align-items: center;
    min-height: 500px;
    width: 100%;
    text-align: center;
    background-image: url("../public/images/heros/hero-image_4.jpg");
    background-position: center;
    background-color: white;
}
.hero-box {
    margin: 0 auto;
    max-width: 800px;
}
.hero-title {
    color: white;
    font-weight: 600;
    font-size: 36px;
}


/*
 * content
 */
.content {
    padding: 32px;
}
#posts {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    margin: 32px auto auto;
    text-align: left;
    width: 100%;
}
.post-item {
    margin: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.post-item__content {
    padding: 16px 32px 32px 32px;
}
.post-item__thumbnail {
    width: 100%;
    height: 190px;
    background-position: center;
    object-fit: cover;
}
.post-item__date {
    font-size: 10px;
    text-transform: uppercase;
    color: black;
}
.post-item__city {
    background-color:rgba(153, 152, 152, 0.562);
    padding: 5px;
    color: black;
}
.post-item__date__author {
    color: black;
    font-size: 10px;
    text-decoration: none;
}
.post-item__title {
    font-weight: 500;
    font-size: 18px;
    margin-top: 16px;
    transition: 0.3s opacity;
}
.post-item__title:hover {
    opacity: 0.5;
}
.post-item__title a {
    text-decoration: none;
    color: inherit;
}
.post-item__description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.5em;
    text-align: justify;
}

/*
 * footer
 */
footer {
    bottom: 0;
    position: static;
    background-color: red;
    padding: 2em;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 600;
}

/*medium*/
@media screen and (min-width: 740px){
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo{
        grid-column: 2/3;
        margin-top: 20px;
    }

    #topnav{
        position: relative;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transform: translate(0, 0);
    }

    #topnav #menu-bar {
        display: flex;
    }

    #topnav .link {
        margin-left: 3em;
        margin-bottom: 0;
    }
   
    .navbar-toggle{
        display: none;
    }

    #posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

}

/*large*/
@media screen and (min-width: 900px){
    
    #posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px; 
    }
    
}